
<p class="text-center py-1 text-black m-0 font-12" id="freeShip">(Free Shipping Nationwide - UAN/Whatsapp:
    021-111-003-005)</p>

            
     

<header class="position-sticky top-0 bg-white">
    <div class="container-fluid" id="header">
        <div class="row h-100 pt-4 ps-4 pe-3">
            <!-- Menu Icon -->
            <div class="col-1 pt-2">
                <a href="/menu" class="text-decoration-none">
                    <i class="fa-solid fa-bars fs-4"></i>
                </a>
            </div>
            <!-- Logo -->
            <div class="col-4 offset-md-3 text-center">
                <a href="/" class="text-decoration-none">
                    <img class="img-fluid" src="/images/header_img.webp" width="300px" alt="Logo">
                </a>
            </div>
            <!-- Right-Side Icons -->
            <div class="col-6 offset-1 col-md-3 d-flex justify-content-around pt-1" style="margin-left:78px;">
                <div class="text-center">
                    <a href="/search" class="text-decoration-none text-black">
                        <i class="fa-solid fa-magnifying-glass fs-4"></i>
                        <span class="font-12 d-lg-block mt-n2 d-none mx-1">Search</span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="/wishlist" class="text-decoration-none text-black">
                        <i class="fas fa-heart fs-4"></i>
                        <span class="font-12 d-lg-block mt-n2 d-none mx-1">Wishlist</span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="/logout" class="text-decoration-none text-black">
                        <i class="fas fa-sign-out-alt fs-4"></i>
                        <span class="font-12 d-lg-block mt-n2 d-none mx-1">Logout</span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="/auth/login" class="text-decoration-none text-black">
                        <i class="fa-regular fa-user fs-4"></i>
                        <span class="font-12 d-lg-block mt-n2 d-none mx-1">Account</span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="/cart" class="text-decoration-none text-black">
                        <i class="fas fa-shopping-bag cart-icon fs-4"></i>
                        <span class="font-12 d-lg-block mt-n2 d-none mx-1" style="width:42px">My Cart</span>
                    </a>
                </div>
                <div class="text-center">
                    <a href="/admin" class="text-decoration-none text-black">
                        <i class="fa-solid fa-cogs fs-4"></i>
                        <span class="font-12 d-lg-block mt-n2 d-none" style="width:75px">Admin Panel</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
